th, td {
    border-bottom: 1px solid #ddd;
}
.center{
    margin: 0 auto;
    width:400px;
    height:200px;
    margin-top: 70px;
    background-color: #f7f7f7;
}

.concluido
{
  background:#b7fabe;
}

.coluna1 {
	width: 135px;
	border: red;
}

.coluna2 {
	width: 50px;
}

.botao {
  border-bottom:1px solid #dd0000;
}

.teste{
	text-align: center;
	 font-size: 40px;
	 color: red;
 	
}

.ui-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
